{% extends "base.html" %}
{% block content %}
   <div class="about">
     <p> </p>
     <p> </p>
       <h3>Here's what you can expect from Practical Python:</h3>
       <style>h4{
        margin-top: 50px;
       }</style>
     <h4>1. Learning Resources:</h4>
     <p>Our server is packed with a plethora of learning materials, including tutorials, guides, and curated resources. Whether you're looking to understand the basics of Python or dive into more advanced topics, you'll find plenty of valuable content to assist you on your learning journey.</p>

     <h4>2. Coding Challenges and Projects:</h4>
     <p>Engage in regular coding challenges and collaborate with others on exciting Python projects. These activities provide a great opportunity to put your skills to the test, learn from practical experiences, and showcase your creativity.</p>
      
     <h4>3. Study Groups and Workshops:</h4>
     <p>Connect with fellow Python enthusiasts through our study groups and workshops. These interactive sessions allow you to discuss specific topics, work on projects together, and gain a deeper understanding of Python concepts through active collaboration and shared experiences.</p>
      
     <h4>4. Mentorship Program:</h4>
     <p>Our server boasts an exceptional mentorship program that pairs members with experienced Python developers who are eager to share their knowledge and guide newcomers. Get personalized advice, feedback, and guidance from industry professionals who genuinely care about your growth and success.</p>
      
     <h4>5. Discussions:</h4>
     <p>Participate in lively and insightful discussions about Python, programming concepts, industry trends, and more. Exchange ideas, share resources, or seek advice our community members love engaging in intellectually stimulating conversations.</p>    
   </div>
 {% endblock %}