{% extends "base.html" %}

{% block header %}<link rel="stylesheet" href="{{ url_for('static', filename='css/features.css') }}">{% endblock %}

{% block content %}
<div class="features">
  <h3>Server Features</h3>
  <body>
    <div class="features-images">
    <div class="image-container">
      <img src="static/imgs/zorak.jpg" alt="">
      <div class="overlay">
        <div class="image-text">
          Zorak<br><p6 class="info">A discord bot!</p6>
        </div>
      </div>
    </div>
    <div class="image-container-run">
      <img src="static/imgs/run.png" alt="" class="run-size">
      <div class="overlay-run">
        <div class="image-text-run">
        I Run Code Bot<br><p6 class="info">Run code directly in the server!</p6>
      </div>
      </div>
    </div>
    <div class="image-container-challenges">
      <img src="static/imgs/Challenges.jpg" alt="" class="challenge-size">
      <div class="overlay-challenges">
        <div class="image-text-challenges">
        Daily Challenges<br><p6 class="info">Test your might!</p6>
        </div>
      </div>
    </div>
  </div>
  </body>
</div>
{% endblock %}