{% extends "base.html" %}
{% block content %}
  <div class="home">
    <h1>Welcome to Practical Python's Website</h1>
    <p>We are a friendly and inclusive Discord server dedicated to learning and practicing the Python programming language! Our server is a community-driven platform where programmers of all skill levels come together to help each other grow and develop their Python skills.</p>

      <p>At Practical Python, we believe in creating a supportive and welcoming environment for everyone. Whether you're a complete beginner or an experienced coder, you'll find a place to fit in and connect with like-minded individuals. Our knowledgeable and passionate community members are always ready to lend a helping hand and answer any questions you may have.</p>      
  </div>
{% endblock %}