{% extends "base.html" %}

{% block header %}<link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">{% endblock %}

{% block content %}
 <div class="faq">
  <h4>What version of Python should I install?</h4>
  <p>We recommend installing Python 3.10.xx. Installing the LATEST version of python is NOT recommended, as many libraries are not yet supported.</p>
  <h4>What IDE should I use?</h4>
  <p>Thonny, VSCode, Pycharm... are all among the most popular ones, however this is a very personal decision. You'll have to try them all! Check the <a href="https://discord.gg/practical-python-900302240559018015"style="text-decoration:none;">#resources</a> in our discord server for links.</p>
  <h4>Where do I start learning Python?</h4>
  <p>There are a number of free and paid resources online that anyone can access. You can check the <a href="https://discord.gg/practical-python-900302240559018015"style="text-decoration:none;">#resources</a> on our discord server</p>
  <h4>I'm trying to learn, but it's not working...</h4>
  <h6>I always explain learning code like this...</h6>
    <p>Imagine you are building a house. You have to do foundations, structure, roofing, plumbing, electrical.... so on and so on. This... is your program. 
    You might learn how a hammer works, but then you can only hammer a nail. And then maybe you learn how a saw works, and then you can use the saw to cut wood and join them with nails. 
    My advice is, learn how the tools in your toolbox work, and interact with each other... and only then you can build a house. knowing how to use a hammer, or a screwdriver, or a saw are... fine... on their own, but when you know how they interact, you can do so much more.
    
    These videos you're watching are teaching you the tools you will use for the rest of your career. Go ahead and let yourself learn those tools without the expectation that you're suddenly going to know how to program. One day, it will just click, and you'll start understanding</p>
</div>
{%endblock%}
